XTerm*termName: xterm-256color
XTerm*faceName: Dejavu Sans Mono
XTerm*faceSize: 12
XTerm*background: black
XTerm*foreground: lightgray
XTerm*visualBell: True
!
URxvt*font: xft:Dejavu Sans Mono:size=12,\
            xft:BabelStone Han:size=12,\
            xft:TH-Sung-TP0:size=12,\
            xft:TH-Sung-TP2:size=12
!URxvt*font: xft:Dejavu Sans Mono:size=12,xft:TH\-Sung\-TP0:size=12,xft:TH\-Sung\-TP2:size=12
URxvt*visualBell: True
URxvt*depth: 32
URxvt*background: [85]black
URxvt*foreground: lightgray
URxvt*scrollBar: False
!URxvt*letterSpace: -1
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C
Xft*dpi:166
